button {
	padding: 0.8rem;
	color: whitesmoke;
	background-color: #303030;
	border: 1px solid #303030;
	border-radius: 0.6rem;
	transition: 0.2s;

	&:hover {
		transition: 0.2s;
		color: #303030;
		background-color: transparent;
	}
}
